doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title admin
		link(rel='stylesheet' href=host+'/public/github-markdown.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/agate.min.css')
		link(rel='stylesheet' href='//at.alicdn.com/t/font_1468335518_3336253.css')
		link(href=host+'/dist/admin.css' rel='stylesheet')
	body
		#app-admin
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js')
		script(src=host+'/public/react.js')
		script(src=host+'/public/react-dom.js')
		script(src=host+'/public/ReactRouter.js')
		script(src=host+'/public/markdown-it.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js')
		script(src=host+'/dist/admin.js')