doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title index
		//- link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' media='screen')
		link(rel='stylesheet' href=host+'/public/github-markdown.css')
		link(href='http://cdn.webfont.youziku.com/webfonts/nomal/25723/47023/5776a491f629d80118772986.css' rel='stylesheet' type='text/css')
		link(href=host+'/dist/app.css' rel='stylesheet')

	body
		#app
		script(src=host+'/public/react.js')
		script(src=host+'/public/react-dom.js')
		script(src=host+'/public/ReactRouter.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js')
		script(src=host+'/dist/app.js')