doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title index
        //- link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' media='screen')
        //link(rel='stylesheet' href='//at.alicdn.com/t/font_1469356249_9745064.css')
        link(href=host + '/dist/home.css' rel='stylesheet')

    body
        #app
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js')
        script(src=host + '/public/react.js')
        script(src=host + '/public/react-dom.js')
        script(src=host + '/public/ReactRouter.js')
        script(src=host + '/dist/home.js')